# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Node
node_modules/
dist/
.npm/

# Local AI working notes
.agent/

# Docker
*.log

# Secrets (jamais dans Git !)
infra/k8s/secret.yaml

# vscode
.vscode/